
:root {
    --header-font-color: white;
    --header-color: #050126;

    --body-font-color: white;

    --welcome-color: #4c7edc;
    /*--projects-color: #26C485;*/
    --projects-color: #d7e2f4;
    --contact-color: #A3E7FC;

    --large-dissapearing-font-size: 35rem;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Effectively Global */
html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    color: var(--body-font-color);
    overflow-x: hidden;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

/* Header */
header {
    width: 100vw;
    height: 125px;
    background-color: var(--header-color);
    color: var(--header-font-color);
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-bar{
    color: white;
    margin: 0;
    margin-left: 5vw;
}

.navbar {
    height: inherit;
    width: 50vw;
    margin: 0;
    padding: 0;
    
}

.navbar-links {
    height: inherit;
    margin: 0;
    margin-right: 5vw;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 50px;
}

.navbar-links li {
    height: inherit;
}

.navbar-link {
    height: inherit;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

/* main content */
.page {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

/* Welcome Page */
.welcome {
    background: var(--welcome-color);
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.welcome h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Projects Page */
.projects {
    background: var(--projects-color);
    text-align: center;
}


/* 
I think the use of this animation would get 
me fired if I were actually a web developer 
*/
@keyframes slideright {
    0.00000001% {
        transform: translateX(5000px);
    }

}

.header-container {
    z-index: 2;
    height: inherit;
    width: inherit;
    position: absolute;
    backdrop-filter: blur(50px);
    transition: 1s;

    animation-name: slideright;
    animation-duration: 500s;
    animation-play-state: paused;
    
    &:hover{
        backdrop-filter: none;
        color: transparent;
        animation-delay: 1s;
        animation-play-state: running;
    }

    /* Don't transition back immediately */
    &:not(:hover){
        transition-delay: 10s;
    }
}


.projects h1 {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--large-dissapearing-font-size);
    margin-top: -100px;
    pointer-events: none;
    color: inherit;
}

.grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(2, 37vh);
    row-gap: 3vw;
    column-gap: 3vw;
}

.project-tile {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;

    /* border: 3px solid var(--header-color); */
    border-radius: 10px;

    mix-blend-mode: multiply;

    transition: 0.5s;
    &:hover{
        transform: scale(1.025);
    }
}

.project-tile img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    mix-blend-mode: multiply;
}

.img-summary {
    height: 8vh;
    width: 30vw;
    color: black;
    position: absolute;
    top: 32vh;
    border-radius: 0px 0px 10px 10px;
    align-content: center;
    backdrop-filter: blur(50px);
}


/* Contact Page */
.contact {
    background-color: var(--contact-color);
}

.contact h1 {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--large-dissapearing-font-size);
    margin-top: -100px;
    pointer-events: none;
    color: inherit;
}

.contact-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-links {
    display: flex;
    list-style-type: none;
    gap: 100px;
}

.contact-link{
    display: block;
    text-decoration: none;
    color: inherit;
}

.contact-link h2 {
    font-size: 15rem;

    transition: 0.5s;

    &:hover{
        transform: scale(1.025);
    }
}

@media only screen and (max-width: 1650px) {
    html {
        font-size: 12px;
    }

    :root {
        --large-dissapearing-font-size: 30rem; 
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 1300px) {
    html {
        font-size: 10px;
    }

    :root {
        --large-dissapearing-font-size: 25rem; 
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 769px) {
    html {
        font-size: 6px;
    }

    :root {
        --large-dissapearing-font-size: 20rem; 
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: repeat(2, 45vw);
        grid-template-rows: repeat(3, 21vh);
        row-gap: 7vh;
    }
    
    .img-summary {
        width: 45vw;
        top: 17vh;
    }

    .img-summary h3 {
        font-size: 3rem;
    }

    .contact-content{
        flex-direction: column;
    }
}
